<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МЕСТНЫЙ ПРОДУКТ!</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <main class="comment_container">
        <form id="gettags" name="GetTags">
            <div class="form_container">
                <img class="logo" src="/images/logo.png" alt="">
                <h3>IV ежегодная конференция<br>местных производителей 2023</h3>
            </div>
            <div class="form_container">
                <h1>Что для вас Местное?</h1>
                <input type="text" id="tag_1" name="tag_1" placeholder="Введите слово ..." maxlength="25" required>
                <input type="text" id="tag_2" name="tag_2" placeholder="Введите слово ..." maxlength="25">
                <input type="text" id="tag_3" name="tag_3" placeholder="Введите слово ..." maxlength="25">
                <h2>Вы можете отправить ответ<br>несколько раз.</h2>
                <button id="sendtags">Отправить</button>
            </div>
        </form>
    </main>
</body>

<script src="/javascripts/index.js"></script>

</html>